.container {
  font-family: charter, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.063px;
  width: 50%;
  padding: 2px;
  margin: 20px auto;
}
.app-container {
  padding: 0 4px;
}
h1 {
  text-align: center;
}
@media only screen and (max-width: 320px) {
  .container {
    position: absolute;
    top: 30%;
    /* width: 100%; */
  }
  h1 {
    position: absolute;
    top: 10%;
    left: 4%;
    margin: 20px auto;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 425px) {
  .app-container {
    display: block;
    float: left;
  }
  .container {
    position: absolute;
    width: 100%;
    margin: 30% auto;
  }
  h1 {
    position: absolute;
    top: 3%;
    left: 70%;
    bottom: 5%;
    margin: 20px auto;
    width: 100%;
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    position: absolute;
    top: 30%;
    width: 100%;
  }
  h1 {
    position: absolute;
    top: 10%;
    left: 40%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 1025px) {
  .container {
    width: 80%;
    position: absolute;
    left: 25%;
  }
}
