.container{
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.063px;
    width: 50%;
    margin: 20px auto;
}
.app-container{
  padding: 0 4px;
}
@media only screen and (max-width: 768px) {
    .container {
     position: absolute;
     top: 50%;
    }
  }